/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    font-family: 'Varela', serif, sans-serif;
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
    z-index: 100;
}

.unselectable {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    -webkit-touch-callout: none;
    user-select: none;
}

.sb-theme {
    color: #FFFAE8;
}

.sb-btn {
    background-color: #FFFAE8;
    color: #34485c;
    border: 1px solid #34485c;
    padding-top: 4px;
}

.sb-btn:focus {
    outline: none;
}

.sp-container-lg {
    background-color: #1F2B3E;
    width: 100%;
    opacity: 0.8;
    padding: 45px 0;
    color: #FFFAE8;
    position: relative;
    top: 17.6rem;
    line-height: 1.4rem;
    text-align: center;
}

.sp-container-sm {
    padding-top: 8px;
    width: 100%;
    height: 90px;
    background-color: #253a48;
    float: right;
    opacity: 0.8;
    font-size: 14px;
    color: #FFFAE8;
    line-height: 1rem;
    text-align: center;
    z-index: 10;
}

vertical-align-child {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}


/* Bounce To Top */

.hvr-bounce-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ff7777;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
    color: white;
}

.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/* ==========================================================================
Footer
 ========================================================================== */

.footer-top {
    background-color: #4f5692;
    padding: 54px 0;
}

.footer-sub {
    background-color: #3f4786;
    padding: 10px 0;
}

.footer h1 {
    color: #FFF;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 5px;
}

.footer p, .footer a, .footer li {
    color: #c6cdcd;
    margin-bottom: 10px;
}

.footer li {
    padding: 3px 0;
    margin-top: 10px;
    font-size: 14px;
}

.footer i {
    color: #f8f8f8;
}

.copyright {
    float: right;
}

.copyright i {
    color: #FF3D7F;
    margin: 0 5px;
}

.contact-list li {
    color: #fff;
    margin-bottom: 5px;
}

.contact-list i {
    margin-right: 15px;
}

.quick-links li {
    padding-left: 15px;
    position: relative;
}

.quick-links li:before {
    display: inline-block;
    text-align: center;
    font-family: FontAwesome;
    content: "\f105";
    position: absolute;
    left: 0px;
    top: 4px;
    transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #f8f8f8;
}

.fade-bottom-light {
    position: relative;
    bottom: 100px;
    /* top is also an option */
    width: 100%;
    height: 48px;
    background: -webkit-linear-gradient(/*for webkit based browsers */
    rgba(255, 255, 255, 0) 0%, #4f5692 100%);
    background-image: -moz-linear-gradient(/*for firefox*/
    rgba(255, 255, 255, 0) 0%, #4f5692 100%);
    background-image: -o-linear-gradient(/*opera browser*/
    rgba(255, 255, 255, 0) 0%, #4f5692 100%);
    background-image: linear-gradient( rgba(255, 255, 255, 0) 0%, #4f5692 100%);
    background-image: -ms-linear-gradient(/*microsoft ie*/
    rgba(255, 255, 255, 0) 0%, #4f5692 100%);
}

.fade-bottom-dark {
    position: relative;
    bottom: 40px;
    /* top is also an option */
    width: 100%;
    height: 30px;
    background: -webkit-linear-gradient(/*for webkit based browsers */
    rgba(255, 255, 255, 0) 0%, #3f4786 100%);
    background-image: -moz-linear-gradient(/*for firefox*/
    rgba(255, 255, 255, 0) 0%, #3f4786 100%);
    background-image: -o-linear-gradient(/*opera browser*/
    rgba(255, 255, 255, 0) 0%, #3f4786 100%);
    background-image: linear-gradient( rgba(255, 255, 255, 0) 0%, #3f4786 100%);
    background-image: -ms-linear-gradient(/*microsoft ie*/
    rgba(255, 255, 255, 0) 0%, #3f4786 100%);
}


/* ==========================================================================
Carousel Settings
 ========================================================================== */

.carousel-mod .carousel-indicators {
    position: static;
    display: block;
    width: auto;
    margin: 15px auto;
}

.carousel-mod .carousel-indicators li {
    background-color: #A3A3A3;
    border: none;
    margin: 0;
}

.carousel-mod .carousel-indicators .active {
    background-color: #31373a;
    width: 10px;
    height: 10px;
}

.carousel-mod .carousel-control.left, .carousel-mod .carousel-control.right {
    background: none;
    background-color: transparent;
    filter: none;
}

.carousel-mod .carousel-control {
    top: 45%;
}


/* ==========================================================================
Social Links
 ========================================================================== */

.social {}

.social li {
    padding: 0;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
    webkit-transition: background-color 400ms ease-out 0.2s;
    -moz-transition: background-color 400ms ease-out 0.2s;
    -o-transition: background-color 400ms ease-out 0.2s;
    transition: background-color 400ms ease-out 0.2s;
    margin-bottom: 5px;
}

.social li a {
    color: #fff;
}

.social li.facebook {
    background: #204385;
}

.social li.twitter {
    background: #2aa9e0;
}

.social li.google-plus {
    background: #d3492c;
}

.social li.linkedin {
    background: #0073b2;
}

.social li.skype {
    background: #00b0f6;
}

.social li.youtube {
    background: #e22d24;
}

.social li:hover {
    background: #31373a;
    cursor: pointer;
}


/* Customizing Slick */

.slick-dots li.slick-active button::before {
    color: rgba(98%, 37.8%, 30.9%, 1);
}

.slick-dots li button::before {
    color: #3c5266;
}


/* SectionSeperators */

section::before, section::after {
    position: absolute;
    content: '';
    pointer-events: none;
}


/* Triangles */

.ss-style-triangles::before, .ss-style-triangles::after {
    left: 50%;
    width: 100px;
    height: 100px;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}

.ss-style-triangles::before {
    top: -50px;
    background: #2980b9;
}

.ss-style-triangles::after {
    bottom: -50px;
    z-index: 10;
    background: inherit;
}


/* Double Diagonal line */

.ss-style-doublediagonal {
    z-index: 1;
    padding-top: 6em;
    background: #2072a7;
}

.ss-style-doublediagonal::before, .ss-style-doublediagonal::after {
    top: 0;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 75%;
    background: inherit;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.ss-style-doublediagonal::before {
    height: 50%;
    background: #116094;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
}

hr {
    display: block;
}

hr.style17 {
    padding: 0;
    border: none;
    border-top: medium double #FF7777;
    color: #FF7777;
    text-align: center;
}

hr.style17:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}