div.showcase-tech-container {
  position: relative;
  background-color: #FFF;
  overflow-x: scroll;
  width: 100%;
}

.brand-logos {
  position: relative;
  width: 1033px;
  overflow: hidden;
  display: inline-flex;
}

.brand-logos img {
  margin: 0 20px;
  height: 75px;
  width: auto;
  max-width: 100%;
  border: 0;
}

.brand-logos ul#logos li {
  display: inline-flex;
  margin: 0 200px;
}


