$lightColor: #f12e50;
$heavierColor: #ee0c4b;
$actionColor: #f77 ;
$white: #fff;


.acc-main {
  position: relative;
  background: $lightColor;
  // top: 50%;
  // left: 50%;
  width: 100%;
  // max-width: 30em;
  // min-width: 15em;
  // transform: translate(-50%, -50%);
  overflow: hidden;
  .title {
    color: #fff;
    background: $actionColor;
    text-align: center;
    font-weight: 700;
    line-height: 1.2em;
    padding: 1em;
  }
}

.section {
  position: relative;
  width: 100%;
  border-bottom: 5px solid $actionColor;
  border-left: 2px solid $actionColor;  
  border-right: 2px solid $actionColor;
  button {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    height: 3em;
    width: 3em;
    outline: 0;
    border: 0;
    background: none;
    text-indent: -9999%;
    pointer-events: none;
    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 12px;
      width: 4px;
      border-radius: .3em;
      background: $heavierColor;
      transform-origin: 50%;
      top: 50%;
      left: 50%;
      transition: all .60s ease-in-out;
      transform: translate(75%, -50%) rotate(45deg);
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 12px;
      width: 4px;
      border-radius: .3em;
      background: $heavierColor;
      transform-origin: 50%;
      top: 50%;
      left: 50%;
      transition: all .60s ease-in-out;
      transform: translate(-75%, -50%) rotate(-45deg);
    }
  }
}

.section.open {
  button {
    &:before, &:after {
      height: 14px;
    }
    &:before {
      transform: translate(0%, -50%) rotate(-45deg);
    }
    &:after {
      transform: translate(0%, -50%) rotate(45deg);
    }
  }
  .articlewrap {
    height: 120px;
    overflow-y: scroll;
  }
}

.articlewrap {
  height: 0;
  overflow: hidden;
  transition: all .6s ease-in-out;
  background-color: white;
}

.sectionhead {
  width: 100%;
  overflow: hidden;
  background: white;
  cursor: pointer;
  font-weight: 700;
  color: #3c5266;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1em;
  padding-right: 2.1em;
}

.article {
  padding: 1em;
  color: #333;
  line-height: 1.3;
}